@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// brand colors
    $body-color: #354045;
    $green: #B6D88F;
    $green-bg: #94b76c;
    $light-green: #d3f2b0;
    $dark-green: #44661f;
    $yellow: #efea53; 
    $blue: #7ebfdd;
    $primary: $green;
    $link: $yellow;
    $white: #ffff;
    $body-background-color: $light-green;
    $control-border-width: 2px;
    $input-border-color: transparent;
    $input-shadow: none;
    $footer-bg: #e2e2e2;
    $card-shadow: 0 2px 3px rgba(#000000, 0.1), 0 0 0 1px rgba(#000000, 0.1) !default;


$padding: 15px; 
$borders: 15px;


@mixin desktop {
    @media (max-width: 1000px) {
        @content;
    }
}

body, html {
    height: 100%;
}

.article {
    font-family: 'Montserrat';
    //margin: 0;
    background-color: $light-green;
    //text-align: center;
    .container {
        margin: 0 10px;
        position: relative;
    }   
        p {
            font-size: 1em;
            display: inline-flex;
            padding: 14px;
            
        }

        h1 {
            font-size: 2.1em;
            max-width: 500px;
            padding: 14px;
            color: $dark-green;
            font-weight: bold;
        }

        h2 {
            font-size: 1.9em;
            max-width: 500px;
            padding: 14px;
            font-weight: bold;
            
        }
        h3 {
            font-size: 1.6em;
            max-width: 500px;
            padding: 14px;
            text-align: center;
            font-weight: bold;
            color: $dark-green;
        }
        h4 {
            font-size: 1.4em;
            max-width: 500px;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            color: $green-bg;
        }
          a {
            color: $blue;
            border-radius: $borders;
            text-decoration: none;
            font-weight: bold;
            display: block;
            text-align: center;
            margin: 5px auto 0 auto;

            @include desktop {
                display: inline-block;
                //padding: $padding $padding * 4;
            }
        }
        
    }

    header {
        background-color: $light-green;
        text-decoration: none;
        padding: 0em;
        display: block;
    }

    .navbar.is-fixed-top {
        background-color: yellowgreen;
    .navbar-menu {
        //margin: 0 10px;
        background-color: $green-bg;
        
      .navbar-item {
        font-weight: bold;
        background-color: $green;
      }

      .has-dropdown .navbar-item {
        text-transform: none;
        background-color: $green;
      }

      .container {
          margin: 0 10px;
          position: relative;
      }
    }
}
    .main-text{
        margin-inline-start: 2em;
        
        .input, .textarea {
            background-color: #fff;
            border-color: #dbdbdb;
            color: #363636;
            box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
            min-width: 0;
            width: 28%;
        }
        .form-group{
          padding: 0.3em;
        }
    }    

    .recipe-description{
    background-color: $green;
    }

    .media-left {
        margin: 1rem 2rem;
    }

    dl#recipes-box {
      display: inline-block;
      margin: 0 4.2em;
      
    div.recipe_div{
      max-width: max-content;
      margin-right: 1em;
      line-height: 2;
      background-color: $yellow;
      position: relative;
      border: 2px outset;
      box-shadow: $card-shadow;
    }

    dl{
        font-size: .8em;
        color: $green;
    }

    dt {
      font-size: 1.48em;
      color: $green-bg;
      text-decoration: underline;
      margin: .60em .60em 0em;
      line-height: 2;
      }
    dd{
      font-size: 1.30em;
      margin: 0em .60em;
      line-height: 2;
    }
    .card-content {
        background-color: $dark-green; 
          max-width: 30%;
          border: 1em;
    }  
  }

  .footer{
        background-color: $footer-bg;
        
         h3 {
            font-size: 1.6em;
            max-width: 500px;
            padding: 14px;
            font-weight: bold;
            color: $dark-green;
        }

        nav{
            padding: 0px 14px;
        }

        .columns{
            margin-left: .80rem;
        }

        .column {
        //display: block;
        flex-basis: 0;
        flex-grow: 0;
        flex-shrink: 1;
        padding: 0.55rem;
        }
    }

