@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// brand colors
    $body-color: #354045;
    $green: #B6D88F;
    $green-bg: #94b76c;
    $light-green: #d3f2b0;
    $dark-green: #44661f;
    $yellow: #efea53; 
    $blue: #7ebfdd;
    $primary: $green;
    $link: $yellow;
    $white: #ffff;
    $body-background-color: $light-green;
    $control-border-width: 2px;
    $input-border-color: transparent;
    $input-shadow: none;
    $footer-bg: #e2e2e2;
    $card-shadow: 0 2px 3px rgba(#000000, 0.1), 0 0 0 1px rgba(#000000, 0.1) !default;


$padding: 15px; 
$borders: 15px;



$desktop: 840px;

@mixin desktop {
    @media (max-width: 840px) {
        @content;
    }
}

body, html {
    height: 100%;
}

.article, .recipe-description {
    font-family: 'Montserrat';
    //margin: 0;
    background-color: $light-green;
    //text-align: center;
    .container {
        margin: 0 10px;
        position: relative;
    }

    .card-content {
        background-color: $link; 
          max-width: 30%;
          border: 1em;

        }
        
        p {
            font-size: 1em;
            display: inline-flex;
            padding: 14px;
            
        }

        h1 {
            font-size: 2.1em;
            max-width: 500px;
            padding: 14px;
            color: $dark-green;
            font-weight: bold;
        }

        h2 {
            font-size: 1.9em;
            max-width: 500px;
            padding: 14px;
            font-weight: bold;
            
        }
        h3 {
            font-size: 1.6em;
            max-width: 500px;
            padding: 14px;
            text-align: center;
            font-weight: bold;
            color: $dark-green;
        }
          a {
            color: $blue;
            border-radius: $borders;
            text-decoration: none;
            font-weight: bold;
            display: block;
            text-align: center;
            margin: 5px auto 0 auto;

            @include desktop {
                display: inline-block;
                //padding: $padding $padding * 4;
            }
        }
        
    }

    header {
        background-color: $light-green;
        text-decoration: none;
        padding: 0em;
        display: block;
    }

    .navbar.is-fixed-top {
        background-color: yellowgreen;
    .navbar-menu {
        //margin: 0 10px;
        background-color: $green-bg;
        
      .navbar-item {
        font-weight: bold;
        background-color: $green;
      }

      .has-dropdown .navbar-item {
        text-transform: none;
        background-color: $green;
      }

      .container {
          margin: 0 10px;
          position: relative;
      }
    }
}

    .recipe-description{
    background-color: $green;
    }

    .media-left {
        margin: 1rem 2rem;
    }

    footer{
        background-color: $footer-bg;
        
         h3 {
            font-size: 1.6em;
            max-width: 500px;
            padding: 14px;
            font-weight: bold;
            color: $dark-green;
        }

        nav{
            padding: 0px 14px;
        }
    }

    dl#recipes-box {
      display: inline-block;
      margin: 0 4.2em;
      position: relative;
      border: 2px outset;
      box-shadow: $card-shadow;
    }

    dt {
      font-size: 1.48em;
      color: $green-bg;
      max-width: 500px;
      padding: 8px;
      font-weight: bold;  
      text-align: left;
      text-decoration: underline;
      margin-right: 1em;
      line-height: 2;
      background-color: $yellow;
      
    }

    dd {
      font-size: 1.15em;
      //max-width: 500px;
      padding: 8px;
      font-weight: bold;  
      text-align: left;
      margin-right: 1em;
      line-height: 2;
      background-color: $yellow;
    }

    #comment_content {
      resize: none;
    }

    .recipes{
        background-color: $yellow;
        box-shadow: $card-shadow;
        max-width: 100%;
        position: relative;
        padding: 1.5rem;
        line-height: 2;
        display: inline-block;
    }
